.slidecounter {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10000;
    background-color: grey;
    color: white;
    opacity: .5;
}

#_hud .menu {
    position: absolute;
    bottom: 50px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#_hud button {
    color: blue;
    background: transparent;
    border: none;
}

#_hud button:hover {
    background-color: lightgray;
}

.activeslide::before {
    content: "♥";
}
.activeslide:after {
    border-color: lightgrey;
    border-style: dotted;
}