.title {
    justify-content: center;
    margin-top: 20%;
    border: darkgray thin solid;
    width: 300px;
    padding: 10px;
}

.company {
    font-size: large;
    font-weight: bold;
}

.falling {
    color: red;
}

@keyframes weirdo {
    0% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    50% { transform: rotateX(-10deg) rotateY(20deg) rotateZ(100deg); }
    75% { transform: rotateX(-190deg) rotateY(200deg) rotateZ(-100deg); }
}

