.chaintable tr {
    font-family: 'Courier', monospace;
}

.chaintable.big tr {
    font-size: 3em;
}

.selected {
    background-color: yellow;
    font-weight: bolder;
}

td.positive {
    background-color: green;
    color: white;
}

td.negative {
    background-color: red;
}
